 /*------------- Google fonts---------------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&family=Noto+Sans+TC:wght@500&display=swap')

 /*------------- Whole Document Font---------------- */

body {
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}

p.caption {
  color: #777;
  margin-top: 10px;
  
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

